{% extends 'base.html.twig' %}

{% block title %}Paste{% endblock %}

{% block body %}
<div class="paste">
    <div>Name: {{ paste.name }}</div>
    <div>Paste: {{ paste.text }}</div>
    <div>Expiration Time: {{ paste.expirationTime.name }}</div>
    <div>Access: {{ paste.access.name }}</div>
    <div>Language: {{ paste.language.name }}</div>
    <div>Link: {{ link }}</div>
    <div>Created at: {{ paste.createdAt|date('Y-m-d H:i:s') }}</div>
    {% if paste.expirationDate is not null %}
        <div>Expiration date: {{ paste.expirationDate|date('Y-m-d H:i:s') }}</div>
    {% endif %}
</div>
{% endblock %}