{% extends 'base.html.twig' %}

{% block title %}Paste{% endblock %}

{% block body %}
<div class="paste">
    <div class="name">Name: {{ paste.name }}</div>
    <div class="text">Paste: {{ paste.text }}</div>
    <div class="text">Expiration Time: {{ paste.expirationTime.name }}</div>
    <div class="text">Access: {{ paste.access.name }}</div>
    <div class="text">Language: {{ paste.language.name }}</div>
</div>
{% endblock %}